.divGeneral{
    margin-top: 20px;
    height: 60vh;
    top:10%;
    margin-bottom: 50px;
    align-items: center;
    margin-top: 50px;
}
.divImg{
    width: 40% !important;
    float:left;
    margin: 0 auto;
    vertical-align: center;
}
.divImg img{
    width: 50%;
}
.divContainer{
    width: 60% !important;
    float:left;
    height: 272px;
    padding: 20px;
}
.divContainer table{
    width: 100%;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.divContainer table tr{
    margin-top: 10px;
    margin-bottom: 10px;
}