.btn{
    background: #ffcb05;
    border: 2px solid;
    border-color: #395ea9;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.btn-radius{
    border-radius: 15px;
}

.btn.primary{
    background: #ed1b24;
    border-color: #000;
}

.btn.primary:hover{
    background: white;
    border-color: #ed1b24;
    color: black;
}
.btn.icon{
    margin: 0 auto;
    padding: 0;
    padding: 0px !important;
    height:35px;
    width:45px;
}
span.search{
    content: url(../../assets/img/Iconzoom.png);
    width: 25px;
    height: 25px;
}
.btn:hover{
    background: #395ea9;
    border-color: #ffcb05;
    color: white;
}
