.footer{
    margin-top: 25px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: url("../../assets/img/fpokemon2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    clear:both;
}
.icon-github{
    content: url("../../assets/img/Icongithub.png");
    width: 35px;
    margin-right: 10px;
}
.icon-linkedin{
    content: url("../../assets/img/Iconlinkedin.png");
    width: 35px;
    margin-right: 10px;
}
.footer-content{
    width: 100%;
    color: white;
    text-align: center;
}
.footer-content-left{
    text-align: left;
}
.footer-content-right{
    text-align: right;
}